#palette-wrapper {
  .selected-color-wrapper {
    display: flex;
    position: relative;
    background: $black;
    padding: 0 1rem 1rem 1rem;

    .swatch {
      width: 100%;
      height: 3rem;
    }

    &:after {
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      content: 'Selected Color';
      font-size: 12px;
      color: rgba(255,255,255,0.8);
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
    }
  }

}

#palette {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: $black;
  padding: 1rem 1rem 0.5rem 1rem;

}
