.swatch {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 2px solid rgba(0,0,0,0.2);

  .swatch-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
